{# Comments are ignored in the html code printing #}

{# First we need to import the base twig. #}
{% extends 'base.html.twig' %}

{# We need to set the title block. #}
{% block title %}Read {{ title }}{% endblock %}

{# We need to set the body block. #}
{% block body %}
    {# Dumping in twig, needs no arguments. prints all the variables we have access here. Goes outside the tags. #}
    {# {{ dump()}} #}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <article class="show-article-container p-3 mt-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="show-article-img" src="{{ asset('images/asteroid.jpeg') }}">
                            <section class="show-article-title-container d-inline-block pl-3 align-middle">
                                <h1 class="show-article-title ">{{ title }}</h1>
                                <br>
                                <span class="align-left article-details"><img class="article-author-img rounded-circle"
                                                                              src="{{ asset('images/alien-profile.png') }}"> Mike Ferengi </span>
                                <span class="pl-2 article-details"> 3 hours ago</span>
                                <span class="pl-2 article-details">
                                    <span class="rw-like-article-count">5</span>
                                    <a href="{{ path('article_change_like', {articleName: articleName}) }}"
                                       class="fa fa-heart-o like-article e-like-article"></a> </span>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="article-text">
                                {{ articleContent|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="share-icons mb-5"><span class="pr-1">Share:</span> <i class="pr-1 fa fa-facebook-square"></i><i
                                        class="pr-1 fa fa-twitter-square"></i><i class="pr-1 fa fa-reddit-square"></i><i
                                        class="pr-1 fa fa-share-alt-square"></i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3><i class="pr-3 fa fa-comment"></i> Comments ({{ comments|length }})</h3>
                            <hr>

                            <div class="row mb-5">
                                <div class="col-sm-12">
                                    <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
                                    <div class="comment-container d-inline-block pl-3 align-top">
                                        <span class="commenter-name">Amy Oort</span>
                                        <div class="form-group">
                                            <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info">Comment</button>
                                    </div>
                                </div>
                            </div>
                            {% for comment in comments %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
                                        <div class="comment-container d-inline-block pl-3 align-top">
                                            <span class="commenter-name">Mike Ferengi</span>
                                            <br>
                                            <span class="comment"> {{ comment }}</span>
                                            <p><a href="#">Reply</a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Esto incluye todos los estilos de la plantilla base, para que no se sobreescriba #}
    {{ parent() }}
    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}
